pple files ###
**/.DS_Store

### Object files ###
**/src/obj/*.o

### Binar files ###
**/a.out

### Header files ###
**/*.gch

### CLion files and directories ###
CMakeLists.txt
cmake-build-debug/
**/.idea


!.gitignore
